@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

header {
    text-align: center;
    font-family: "Lora", serif;
    grid-area: header;
}

h1 a:link, a:active, a:visited {
    text-decoration: none;
    font-family: "Lora", serif;
    text-align: center;
    color: #333;
    font-size: 90px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-weight: bold;
}

body a:link, a:active, a:visited {
    text-decoration: none;
    font-family: "Lora", serif;
    text-align: center;
    color: #333;
}

nav {
    border-top: solid;
    border-bottom: solid;
    border-color: #d0d0d0;
}

li {
    list-style: none;
    font-size: 25px;
    padding: 5px;

}

li a:link, a:visited {
    color: #666;
    text-decoration: none;
}

li a:active {
    color: #DEB887;
    text-decoration: none;
}

li a:hover {
    color: #00ddff;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora", serif;

}

.post-date {
    text-align: right;
    width: auto;
    border-bottom: solid;
    border-color: #d0d0d0;
    color: black;
    padding: 15px;
    font-weight: bold;
    font-family: "Lora", serif;
    font-size:xx-large ;
    grid-area: leftColumn
}

.post-content {
    padding: 30px;
}

@media screen and (min-width: 700px){
    
    article {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-areas: 
        'header header'
        'leftColumn rightColumn';
    }

    li {
        display: inline;
    }

    nav {
        text-align: right;
    }

    .post-date {
        grid-area: leftColumn;
        border-bottom: none;
        text-align: right;

    }

    .post-content {
        grid-area: rightColumn;
        border-left: solid #d0d0d0;
        border-bottom: dotted #d0d0d0;
        margin-left: 10%; 
        text-align: left;     
    }
}
