body {
  margin: 0;
}

a {
  cursor: pointer;
  color: white;
  
  font-family: "Helvetica", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none; 
}

h1 {
  margin: 50px;
  font-family: "Helvetica", sans-serif;
  letter-spacing: .2em;
  color: blue;
  font-size: 3rem;
}

p {
    margin: 25px;
}

.menu-icon {
  position: absolute;
  top: 3%;
  left: 1%;
  z-index: 150;
  cursor: pointer; 
}

.menu-icon {
  display: block;
}

.ham1{
  width: 35px;
  height: 5px;
  transition: all 0.75s ease;
  background-color: darkgray;
}

.ham2,
.ham3 {
  width: 35px;
  height: 5px;
  margin-top: 5px;
  transition: all 0.75s ease;
  background-color: darkgray;

}


.menu-icon:hover .ham1,
.menu-icon:hover .ham2,
.menu-icon:hover .ham3 {
  background-color: pink;
  
}

.bar-switch .ham1 {
  transform: rotate(-45deg) translate(-8px, 5px);
  background-color: white;
}

.bar-switch .ham2 {
  opacity: 0;
}

.bar-switch .ham3 {
  transform: rotate(45deg) translate(-9px, -7px);
  background-color: white;
  padding: 0px;
}

.bar-switch:hover .ham1,
.bar-switch:hover .ham3 {
  background-color: yellow;
}

.menu {
  height: 100%;
  width: 0;
  background-color: blue;
}


.open {
  width: 350px;
}

.open,
.menu {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.75s ease;
}

ul {
  height: 100%;
  width: 20%;
  list-style-type: none;
  margin: 50px auto;
}

li {
  padding-top: 30px;
  display: none;
}

.open li {
    display: block;
}

ul li a:hover {
  color: darkgray;
  transition: all 0.75s ease;
}
